{% set nmap = xci.network_mapping %}
# The infra nodes that will be running the dnsaas services
dnsaas_hosts:
{# as haproxy is installed on baremetal on control node, it gives us the list
   of control nodes.
   #TODO: do it a better way
#}
{% for node in groups.haproxy_all %}
  {{ node }}:
    ip: {{ hostvars[node].container_address }}
{% endfor %}


# YAML to use for the Designate pools.yaml file. If this variable is defined,
# a pools.yaml file will be written to /etc/designate/pools.yaml with the
# provided YAML data.
#
designate_pools_yaml:
  - name: "default"
    description: Default BIND9 Pool
    attributes: {}
    ns_records:
      - hostname: {{ xci.pod_name}}.{{ dns_domain }}.
         priority: 1
     nameservers:
{% for dns_host in groups.haproxy_all %}
       - host: {{ hostvars[dns_host].container_address }}
         port: 53
{% endfor %}
     targets:
{% for dns_host in groups.haproxy_all %}
       - type: bind9
         description: BIND9 Server {{ dns_host }}
         masters:
{% for designate_container in groups.designate_all %}
           - host: {{ hostvars[designate_container].container_address }}
             port: 5354
{% endfor %}
         options:
           host: {{ hostvars[dns_host].container_address }}
           port: 53
           rndc_host: {{ hostvars[dns_host].container_address }}
           rndc_port: 953
{% endfor %}