apiVersion: v1
kind: Config
clusters:
- cluster:
    api-version: v1
    insecure-skip-tls-verify: true
    {% if ':' in server_url %}
    server: "https://{{ server_url }}/k8s/clusters/{{ cluster_id }}"
    {% else %}
    server: "https://{{ server_url }}:80/k8s/clusters/{{ cluster_id }}"
    {% endif %}
  name: "System"
contexts:
- context:
    cluster: "System"
    user: "System"
  name: "System"
current-context: "System"
users:
- name: "System"
  user:
    username: "{{ username }}"
    password: "{{ password }}"
