{% for server_name in pod.nodes | sort  %}
{% set srv = servers[server_name] %}
host node{{ loop.index }}
    HostName {{ pod.net_config['br-mgmt'].network.split('.')[0:-1]|join('.') }}.1{{ loop.index }}

{% endfor %}
host node*
    User root
    StrictHostKeyChecking=false
