include "/etc/rndc.key";
options {
        listen-on port {{ designate_bind_port }} { {{ item.ip }}; };
        forwarders { {{ xci.upstream_dns }}; };
        directory       "/var/lib/named";
        allow-new-zones yes;
        dnssec-validation auto;
        auth-nxdomain no;
        request-ixfr no;
        recursion yes;
        minimal-responses yes;
};

controls {
        inet {{ item.ip }} port {{ designate_rndc_port }} allow { {{ mdns_servers_ip | join('; ') }}{{ ((mdns_servers_ip|count) > 0) | ternary(';','') }} } keys { "rndc-key"; };
};